---
import Layout from "../layouts/Layout.astro";
import Head from "../components/Head.astro"
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import RadarChart from "../components/chart.tsx";
import GithubIcon from "../components/githubicon.tsx"
import "ress"
import "../styles/style.scss";
---
<Layout>
<Head 
  slot="head" 
  title="Hakouma Portfolio"
  description="Hakoumaのポートフォリオサイト" 
/>
<Header slot="header" />
<main slot="body">
  <article class="wrapper">
    <h2>UNDER CONSTRUCTION</h2> 
  </article>
</main>
<Footer slot="footer" />
</Layout>

<style>
  article{
    width: 100%;
    height: 78vh;
    display: grid;
    place-items: center;
    background-color: #fff;
    @media (prefers-color-scheme: dark) {
        background-color: #fff;
    }
    h2{
      font-family: "AlbertSans";
      font-weight: bold;
      font-size:clamp(30px, 6rem, 50px);
    }
  }
</style>