---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Chart from "../components/chart";
import "../styles/style.scss";
---
<Layout
  title="Hakouma Portfolio"
  description="Hakoumaのポートフォリオサイト"
>
<Header slot="header" />
<main slot="body">
  <article class="wrapper">
    <section id="top" class="target">
      <div class="mvWrap">
        <div class="mv">
          <h2>
              <typewritten-text>Giving shape to ideas.</typewritten-text>
          </h2>
          <div class="particles">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
          </div>
        </div>
        <div class="scrolldown"><span>scroll</span></div>
      </div>
    </section>
    <section id="aboutme" class="target">
      <h2>About me</h2>
      <div class="blockWrap me">
        <div class="flex me">
          <div class="imgWrap me">
            <img class="circle" src="/me.webp" width="300" height="300" alt="濱田康熙の顔写真">
          </div>
          <div class="textWrap">
            <dl>
              <div class="group">
                <dt>氏名</dt>
                <dd><ruby>濱田 康熙<rt>はまだ こうき</rt></ruby></dd>
              </div>
              <div class="group">
                <dt>生年月日</dt>
                <dd>1998年2月23日</dd>
              </div>
              <div class="group">
                <dt>職種</dt>
                <dd>WEBエンジニア</dd>
              </div>
              <div class="group over">
                <dt>略歴</dt>
                <dd>
                  2020年3月<br>関西大学総合情報学部総合情報学科 卒業<br>
                  2020年4月<br>アーツ株式会社 入社<br>
                  2024年1月現在まで<br>
                  WEBエンジニアとしてフロントエンド・バックエンド分野を担当。
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <h3>自己PR</h3>
        <p class="pr">
          <span>&lt;情報収集とその共有を通じた組織の技術力・組織力の向上&gt;</span><br>
          日々の技術ブログの購読やニュースのやIT関連のセミナーへの参加により、最新技術やトレンドなどの情報を収集しています。
          業務時間外に業務内容はもちろん業務内容以外の技術に関する知識や情報をキャッチアップし、吸収した内容については自ら手を動かし、
          個人開発でアウトプットすることで理解を深めています。トレンドや気になる技術についてはメンバーにも積極的に話題を持ちかけ、
          意見交換を行いチームの組織力・技術力の向上に努めました。<br>
          <span>&lt;様々なポジションへの柔軟な対応力とその経験を活かした課題解決能力&gt;</span><br>
          フロントエンド、バックエンド、マーケティング（GA4、LookerStudio）、部分的なデザイン作業等、
          これまでの経験に限らず業務時間・業務時間外で学習することで各ポジションにおけるスキルを体得して参りました。
          プロジェクトにおける課題・問題について、体得したスキルにより多角的な視点から解決策の提案を行うことが可能です。
        </p>
        <h3>「Hakouma」について</h3>
        <p class="pr">
          学生時代に呼ばれていた渾名「はまこう」のアナグラムのハンドルネームです。
          同じ読みで舞台や撮影スタジオ等で用いられる「箱馬」という木箱があります。
          「箱馬」は高さ調整のための台、休憩のための椅子、複数組み合わせて階段を作る等
          状況に応じて様々な形で仕事を支えます。
          その「箱馬」と同じように様々な仕事の縁の下の力持ちのような存在になりたいという気持ちをこめて使っています。
        </p>
        

      </div>
    </section>
    <section id="skills" class="target">
      <h2>Skills</h2>
      <div class="blockWrap">
        <Chart />
        <h4>チャート内容内訳</h4>
        <ol reversed>
          <li>エキスパートレベルで使うことができると考えているもの</li>
          <li>実務レベルである程度自由に使うことができると考えているもの</li>
          <li>実務で数ヶ月以上使用しているが更なる習熟が必要と考えているもの</li>
          <li>趣味レベルである程度自由に使うことができると考えているものもの</li>
          <li>触れたことがある程度と考えているもの</li>
        </ol>
        <h4>その他業務中で使用していたツール等</h4>
        <ul>
          <li>Adobe Photoshop (画像加工等、約4年)</li>
          <li>Adobe illustrator (画像加工等、約4年)</li>
          <li>Adobe XD (画像加工等、約4年)</li>
          <li>Google Analytics/Looker Studio (アクセス解析・レポート作成、約2年)</li>
        </ul>
      </div>
    </section>
    <section id="works" class="target">
      <h2>Works</h2>
      <div class="blockWrap">
        <h3>主な職務経歴</h3>
      </div>
    </section>
  </article>
</main>
<Footer slot="footer" />
</Layout>