---
---

<header>
    <nav aria-label="メインメニュー">
        <h1 class="title">
            <svg class="logo">
                <use xlink:href="/logo.svg#logo"></use>
            </svg>
            Hakouma Portfolio
        </h1>
        <!-- ul id="menu">
            <li><a href="#top" class="active">Top</a></li>
            <li><a href="#aboutme">About me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#works">Works</a></li>
        </ul -->
    </nav>
</header>
